.menu{
    transition: 1s;
    display: none;
    padding-top: 1rem;
}

.menu--ativo{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(1rem + 40px);
    left: 1rem;
    transition: 1s
}

.menu_link{
    display: flex;
    margin: 0 4% 1rem 4%;
    text-align: left;
    padding: 0 10% 0 5%;
    font-size: 1rem;
    font-weight: 300;
}

.menu_link--ativo{
    font-weight: 700;
}

.menu_link:hover{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .menu_link{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1024px) {
    .menu_link{
        font-size: 1.5rem;
    }
}