.menu{
    background-color: #000000d2;
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 45%;
    z-index: 1;
    padding-top: 78px;
    transition: 0.5s;
}

.menu--ativo{
    background-color: #000000d2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 45%;
    z-index: 1;
    padding-top: 78px;
}

.menu_link{
    display: flex;
    margin: 0 4% 1rem 4%;
    text-align: left;
    padding: 0 10% 0 35%;
    font-size: 1.25rem;
    font-weight: bold;
}

.menu_link--ativo{
    text-decoration: underline;
}

.menu_link:first-child:before{
    content: '\e902';
    position: relative;
    left: -50px;
    top: 2px;
}

.menu_link:nth-child(2):before{
    content: '\e901';
    position: relative;
    left: -50px;
    top: 2px;
}

.menu_link:last-child:before{
    content: '\e903';
    position: relative;
    left: -50px;
    top: 2px;
}

.menu_link:first-child{
    border-top: 1px solid whitesmoke;
    padding-top: 1rem;
}

.menu_link:hover{
    cursor: pointer;
}

